<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf</title>
    <meta name="description" content="pdf page">


</head>

<body>
	<header>
		<div id="logo"><strong>Universidad Distrital Francisco Jose de Caldas</strong> </div>
	</header>
	<section>
		<strong>Dirigido a: Facultad de Artes</strong>
		{% for obra in obras %}
				<div><strong><a href="/"></a>Liquidacion Viaticos a estudiantes de la obra: {{ obra.0 }}</strong></div>

				{% endfor %}
		<div><strong>Fecha inicio: </strong></div>
		<div><strong>Fecha fin: </strong></div>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h4>Listado Estudiantes: </h4>
				<br>
				<table class="table table-striped table-bordered bg-white table-sm">
					<thead>
						<tr>
							<td>Nombre Completo</td>
							<td>Correo</td>
							<td>Codigo</td>
							<td>Num. Sesiones</td>
							<td>Total Horas Participacion</td>
							<td>Periodo de Participacion</td>
						</tr>
					</thead>
					<tbody>
						{% for estudiante in estudiantes %}
						<tr>
							<td>{{ estudiante.0 }} </td>
							<td>{{ estudiante.1 }} </td>
							<td>{{ estudiante.2 }} </td>
							<td>{{ estudiante.3 }} </td>
							<td>{{ estudiante.4 }} </td>
							<td>{{ estudiante.5 }} </td>
						</tr>
						{% endfor %}
			
					</tbody>
				</table>
			</article>
		</main>
	</section>
	
	<footer>
		<hr>
		<div> Firma Docente: ________</div>
		<div> Nombre Docente: ________</div>
		<div> Cedula Docente: ________</div>
		<div> Facultad Docente: ________</div>

	</footer>


</body>

</html>